source "$(conda info --base)/etc/profile.d/conda.sh"

conda env create -p ./.conda -f environment.yml

conda activate ./.conda

# conda activate eventing

# conda create --name eventing
# conda env export > environment.yml 
# conda env update --file environment.yml